In [1]:
import pandas as pd
import numpy as np

In [2]:
#uploded in jupiter and reading csv file 
data =pd.read_csv(r"play_tennis.csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [3]:
#taking input data it gives all rows and columns 1 : 5
inp_data=data.iloc[:,1:5]
inp_data

     outlook  temp humidity    wind
0      Sunny   Hot     High    Weak
1      Sunny   Hot     High  Strong
2   Overcast   Hot     High    Weak
3       Rain  Mild     High    Weak
4       Rain  Cool   Normal    Weak
5       Rain  Cool   Normal  Strong
6   Overcast  Cool   Normal  Strong
7      Sunny  Mild     High    Weak
8      Sunny  Cool   Normal    Weak
9       Rain  Mild   Normal    Weak
10     Sunny  Mild   Normal  Strong
11  Overcast  Mild     High  Strong
12  Overcast   Hot   Normal    Weak
13      Rain  Mild     High  Strong

In [4]:
#taking class variable yes/no

output=data.iloc[:,5:6]
output

   play
0    No
1    No
2   Yes
3   Yes
4   Yes
5    No
6   Yes
7    No
8   Yes
9   Yes
10  Yes
11  Yes
12  Yes
13   No

In [5]:

from sklearn.model_selection import train_test_split

In [6]:
#traing data set 

inp_train,inp_test,output_train,output_test=train_test_split(inp_data,output,test_size=0.30,random_state=25)

In [7]:
#probability for playing yes

play_yes=data[data["play"]=='Yes']
yes_prob=len(play_yes)/len(data)
print(yes_prob)

0.6428571428571429

In [8]:
#probability for playing no 

play_no=data[data["play"]=="No"]
no_prob=len(play_no)/len(data)
no_prob

0.35714285714285715

In [9]:
#unique values for all weather attributes

out_uniq=data['outlook'].unique()
temp_uniq=data['temp'].unique()
humd_uniq=data['humidity'].unique()
wind_uniq=data["wind"].unique()
display(out_uniq,temp_uniq,humd_uniq,wind_uniq)

array(['Sunny', 'Overcast', 'Rain'], dtype=object)

array(['Hot', 'Mild', 'Cool'], dtype=object)

array(['High', 'Normal'], dtype=object)

array(['Weak', 'Strong'], dtype=object)

In [10]:
#probability for outlook

out_yes_prob,out_no_prob=[],[]
for i in out_uniq:
    out_yes_prob.append(len(play_yes[play_yes["outlook"]==i])/len(play_yes))
    out_no_prob.append(len(play_no[play_no["outlook"]==i])/len(play_no))
display(out_yes_prob,out_no_prob)

[0.2222222222222222, 0.4444444444444444, 0.3333333333333333]

[0.6, 0.0, 0.4]

In [11]:
#probability for temp

temp_yes_prob,temp_no_prob=[],[]
for i in temp_uniq:
    temp_yes_prob.append(len(play_yes[play_yes["temp"]==i])/len(play_yes))
    temp_no_prob.append(len(play_no[play_no["temp"]==i])/len(play_no))
display(temp_yes_prob,temp_no_prob)

[0.2222222222222222, 0.4444444444444444, 0.3333333333333333]

[0.4, 0.4, 0.2]

In [12]:
#probability for humidity

humd_yes_prob,humd_no_prob=[],[]
for i in humd_uniq:
    humd_yes_prob.append(len(play_yes[play_yes["humidity"]==i])/len(play_yes))
    humd_no_prob.append(len(play_no[play_no["humidity"]==i])/len(play_no))
display(humd_yes_prob,humd_no_prob)

[0.3333333333333333, 0.6666666666666666]

[0.8, 0.2]

In [13]:
#probability for wind

wind_yes_prob,wind_no_prob=[],[]
for i in wind_uniq:
    wind_yes_prob.append(len(play_yes[play_yes["wind"]==i])/len(play_yes))
    wind_no_prob.append(len(play_no[play_no["wind"]==i])/len(play_no))
display(wind_yes_prob,wind_no_prob)

[0.6666666666666666, 0.3333333333333333]

[0.4, 0.6]

In [14]:
inp_test

     outlook  temp humidity    wind
0      Sunny   Hot     High    Weak
9       Rain  Mild   Normal    Weak
3       Rain  Mild     High    Weak
5       Rain  Cool   Normal  Strong
11  Overcast  Mild     High  Strong

In [15]:
output_test

   play
0    No
9   Yes
3   Yes
5    No
11  Yes

In [16]:
out_pred=[]
res1_yes=(out_yes_prob[0]*temp_yes_prob[0]*humd_yes_prob[0]*wind_yes_prob[0])*yes_prob
res1_no=(out_no_prob[0]*temp_no_prob[0]*humd_no_prob[0]*wind_no_prob[0])*no_prob
display(res1_yes,res1_no)
if res1_yes>res1_no:
    out_pred.append('Yes')
else:
    out_pred.append('No')
out_pred

0.007054673721340387

0.02742857142857143

['No']

In [17]:

#Rain Mild Normal Weak

res2_yes=(out_yes_prob[2]*temp_yes_prob[1]*humd_yes_prob[1]*wind_yes_prob[0])*yes_prob
res2_no=(out_no_prob[2]*temp_no_prob[1]*humd_no_prob[1]*wind_no_prob[0])*no_prob
display(res2_yes,res2_no)
if res2_yes>res2_no:
    out_pred.append('Yes')
else:
    out_pred.append('No')
out_pred

0.042328042328042326

0.004571428571428573

['No', 'Yes']

In [18]:
res3_yes=(out_yes_prob[2]*temp_yes_prob[1]*humd_yes_prob[0]*wind_yes_prob[0])*yes_prob
res3_no=(out_no_prob[2]*temp_no_prob[1]*humd_no_prob[0]*wind_no_prob[0])*no_prob
display(res3_yes,res3_no)
if res3_yes>res3_no:
    out_pred.append('Yes')
else:
    out_pred.append('No')
out_pred

0.021164021164021163

0.01828571428571429

['No', 'Yes', 'Yes']

In [19]:
#Rain Cool Normal Strong

res4_yes=(out_yes_prob[2]*temp_yes_prob[2]*humd_yes_prob[1]*wind_yes_prob[1])*yes_prob
res4_no=(out_no_prob[2]*temp_no_prob[2]*humd_no_prob[1]*wind_no_prob[1)*no_prob
display(res4_yes,res4_no)
if res4_yes>res4_no:
    out_pred.append('Yes')
else:
    out_pred.append('No')
out_pred

0.015873015873015872

0.0034285714285714297

['No', 'Yes', 'Yes', 'Yes']

In [20]:

res5_yes=(out_yes_prob[1]*temp_yes_prob[1]*humd_yes_prob[0]*wind_yes_prob[1])*yes_prob
res5_no=(out_no_prob[1]*temp_no_prob[1]*humd_no_prob[0]*wind_no_prob[1])*no_prob
display(res5_yes,res5_no)
if res5_yes>res5_no:
    out_pred.append('Yes')
else:
    out_pred.append('No')
out_pred

0.014109347442680773

0.0

['No', 'Yes', 'Yes', 'Yes', 'Yes']

In [34]:

output_test=np.array(output_test)
display(output_test)

array([['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

In [36]:
c=0
for i in range(len(out_pred)):
    if out_pred[i]==output_test[i]:
        c+=1
print("accuracy = ",(c/len(out_pred)*100))

accuracy =  80.0